################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/Services/obj
/Services/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/Web/obj
bin/Debug/net8.0
obj/Debug/net8.0
/Contracts/bin/Debug/net8.0
/Contracts/obj
/Domain/bin/Debug/net8.0
/Domain/obj
/Persistence/bin/Debug/net8.0
/Persistence/obj/Debug/net8.0
/Persistence/obj
/Presentation/bin/Debug/net8.0
/Presentation/obj
/Services/bin/Debug/net8.0
/Web/bin/Debug/net8.0
/.gitignore
/.gitignore
/bin/Debug
/obj
